.Globe-container {
    /*background-color: darkblue;*/
    margin: 0 2rem;
    width: 60%;
    max-width: 100vh;
    align-self: center;
}

.globe-with-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 1.5rem;;
}

.arrow:hover {
    cursor: pointer;
}

.blue-marble img {
    max-width: 100%;
    max-height: 88vh;
}

.blue-marble.no-display {
    display: none;
}

.globe-msg-div {
    width: 70%;
    margin: 0 auto;
}

.globe-msg-div p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* Media queries */
@media only screen and (max-width: 840px) {
    .Globe-container {
        width: 75%;
        max-width: none;
        min-width: 18rem;
        align-self: auto;
    }

    .blue-marble img {
        max-height: none;
    }

    .globe-msg-div {
        margin-bottom: 2rem;
    }
}